## Investigating Speciation

Analyse the results of the speciation parameter grid search on the initial and final populations of Pong experiment #4.

In [26]:
import pandas as pd

In [27]:
df = pd.read_csv('speciation_grid_search_results.csv')
df.head()

   generation  threshold  disjoint_coeff  weight_coeff  n_species
0           0        0.0             0.0           0.0       1045
1           0        0.0             0.0           1.0       1045
2          99        0.0             0.0           1.0        995
3          99        0.0             0.0           1.5        995
4          99        0.0             0.0           0.0        995

In [28]:
conditions = ['(5 < n_species < 50)',
              '(weight_coeff > 0)',
              '(disjoint_coeff > 0)']
df.query(str.join('&', conditions))

      generation  threshold  disjoint_coeff  weight_coeff  n_species
413            0        1.0             0.5           0.5         23
415           99        1.0             0.5           0.5         16
436           99        1.0             1.0           0.5         33
633            0        1.5             1.0           0.5          6
653            0        1.5             1.5           0.5         17
...          ...        ...             ...           ...        ...
1965          99        4.5             4.0           2.5         46
1979           0        4.5             4.5           1.5         17
1981          99        4.5             4.5           1.5          7
1983          99        4.5             4.5           2.0         26
1984          99        4.5             4.5           2.5         49

[171 rows x 5 columns]

In [32]:
conditions = ['(5 < n_species < 50)',
              '(weight_coeff >= 1)',
              '(disjoint_coeff >= 1)',
              '(weight_coeff > disjoint_coeff)']
df.query(str.join('&', conditions))

      generation  threshold  disjoint_coeff  weight_coeff  n_species
1039          99        2.5             1.0           1.5         39
1041           0        2.5             1.0           1.5         46
1238          99        3.0             1.0           1.5         12
1239           0        3.0             1.0           1.5         18
1440           0        3.5             1.0           1.5          9
1442           0        3.5             1.0           2.0         27
1443          99        3.5             1.0           2.0         27
1461          99        3.5             1.5           2.0         28
1462           0        3.5             1.5           2.0         39
1641           0        4.0             1.0           2.0         15
1642          99        4.0             1.0           2.0          9
1644           0        4.0             1.0           2.5         37
1646          99        4.0             1.0           2.5         35
1661           0        4.0             1.5           2.0         18
1662          99        4.0             1.5           2.0         13
1668          99        4.0             1.5           2.5         45
1685          99        4.0             2.0           2.5         49
1842           0        4.5             1.0           2.0          9
1846          99        4.5             1.0           2.5         18
1847           0        4.5             1.0           2.5         19
1849          99        4.5             1.0           3.0         47
1861          99        4.5             1.5           2.0          6
1863           0        4.5             1.5           2.0         11
1865           0        4.5             1.5           2.5         24
1866          99        4.5             1.5           2.5         22
1885          99        4.5             2.0           2.5         26
1886           0        4.5             2.0           2.5         40