## Investigating Speciation

Analyse the results of the speciation parameter grid search on the initial and final populations of Pong experiment #4.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../notebooks/speciation_grid_search_results.csv')
df.head()

   generation  threshold  disjoint_coeff  weight_coeff  n_species
0           0        1.0             1.0           1.0        618
1          49        1.0             1.0           1.5        719
2           0        1.0             1.0           2.0        790
3          49        1.0             1.0           1.0        562
4           0        1.0             1.0           1.5        725

In [4]:
conditions = ['(75 < n_species < 125)',
              '(weight_coeff > 0)',
              '(disjoint_coeff > 0)']
df.query(str.join('&', conditions))

     generation  threshold  disjoint_coeff  weight_coeff  n_species
285          49        2.0             2.0           1.0         91
300          49        2.0             2.5           1.0        103
320          49        2.0             3.0           1.0        117
429           0        2.5             2.5           1.0        119
542           0        3.0             2.0           1.5        118
559          49        3.0             2.5           1.5         80
575          49        3.0             3.0           1.5         91
588           0        3.0             3.5           1.0         83
591          49        3.0             3.5           1.5         99
608          49        3.0             4.0           1.5        113
623          49        3.0             4.5           1.5        117
641          49        3.5             1.0           2.0         77
657          49        3.5             1.5           2.0         99
658           0        3.5             1.5           2.0        115
703           0        3.5             3.0           1.5         99
770           0        4.0             1.0           2.5        100
771          49        4.0             1.0           2.5        113
817           0        4.0             2.5           2.0        102
849          49        4.0             3.5           2.0         82
863           0        4.0             4.0           1.5         85
864          49        4.0             4.0           2.0         91
883          49        4.0             4.5           2.0         96
931           0        4.5             2.0           2.5         97
933          49        4.5             2.0           2.5         93
949          49        4.5             2.5           2.5        103
962          49        4.5             3.0           2.5        114
976           0        4.5             3.5           2.0         97

In [5]:
conditions = ['(75 < n_species < 125)',
              '(weight_coeff >= 1)',
              '(disjoint_coeff >= 1)',
              '(weight_coeff > disjoint_coeff)']
df.query(str.join('&', conditions))

     generation  threshold  disjoint_coeff  weight_coeff  n_species
641          49        3.5             1.0           2.0         77
657          49        3.5             1.5           2.0         99
658           0        3.5             1.5           2.0        115
770           0        4.0             1.0           2.5        100
771          49        4.0             1.0           2.5        113
931           0        4.5             2.0           2.5         97
933          49        4.5             2.0           2.5         93